{% extends 'layout.html.twig' %}

{% block title %}PC | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">PC</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('app_default_index') }}">Home</a></li>
                <li>Computer</li>
                <li class="active">PC</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <!--=== Content Part  ===-->
    <div class="container content">
        Here we will explain our idea later...<br />
        In other words,<br />
        Page Coming soon.<br />
    </div><!--/container-->
    <!--=== End Content Part  ===-->
{% endblock %}
