<section id="page">
    <div class="col-xs-12">
        <h1 class="page-header">{{ '404 Error'|trans }}</h1>
        <p>{{ 'Page not found'|trans }}</p>
    </div><!-- /.col-xs-12 -->
</section><!-- /#page -->
