<h3>Thanks for singing up on our website</h3>
<p>User Information</p>
<p>Username: <b>{{ username }}</b></p>
<p>Password: <b>*********</b> (for security reason it can\'t be shown)</p>
<p>E-Mail: <b>{{ email }}</b></p>
<br />
<p><b>Please activate your email.</b></p>
<p><a href="{{ url('app_account_confirm', {'token': token }) }}">Activate Email</a></p>
<br /><br />
Have a nice day,<br />
<b>Team OrbitronDev</b>.
