<h3>Someone requested to change your password for the E-Mail: <b>{{ email }}</b></h3>
<p>If it wasn't you, simply ignore this mail.</p>
<br />
<p>If it was you, please click on the following link: <a href="{{ url('app_account_forgot', {'token': token}) }}">{{ url('app_account_forgot', {'token': token}) }}</a></p>
<br />
<br />
Have a nice day,<br />
<b>Team OrbitronDev</b>.