<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<body>
{#<script type="text/javascript">
    // When using Hash to update website
    $(document).ready(function() {
        $("#screen-loading").hide();
        if("onhashchange" in window) {
            $("#screen-loading").show();
            var href = location.hash;
            href = href.substr(2);
            setTimeout(function () {
                $.ajax({
                    url		: "/account/do.php",
                    data	: {
                        a : "getTemplate",
                        tpl : "account/page-" + href
                    },
                    complete: function() {
                        $("#screen-loading").hide();
                    },
                    success	: function(data) {
                        $("#screen-content").empty().append($(data));
                    },
                    error	: function() {
                        var n = noty({
                            text		: "Error while loading page",
                            type		: "error",
                            layout		: "bottomRight",
                            timeout		: 3000,
                            maxVisible  : 3
                        });
                    }
                });
            }, 1000);
        }
        function onHashChanged() {
            $("#screen-loading").show();
            var href = location.hash;
            href = href.substr(2);
            setTimeout(function () {
                $.ajax({
                    url		: "/account/do.php",
                    data	: {
                        a : "getTemplate",
                        tpl : "account/page-" + href
                    },
                    complete: function() {
                        $("#screen-loading").hide();
                    },
                    success	: function(data) {
                        $("#screen-content").empty().append($(data));
                    },
                    error	: function() {
                        var n = noty({
                            text		: 'Error while loading page',
                            type		: 'error',
                            layout		: 'bottomRight',
                            timeout		: 3000,
                            maxVisible  : 3
                        });
                    }
                });
            }, 1000);
        }
        window.onhashchange = onHashChanged;
    });
    $(function(){
        $(document).on("click", "li.active > a", function(){
            var $parent = $(this).parent();

            // Ensure link isn't just a dropdown menu link
            if (!$parent.hasClass("dropdown")){
                // Deactivate tab buttons
                $("#testtab li").removeClass("active");

                // Hides tab contents
                tabName = $(this).attr("href");
                $(tabName).removeClass("active").addClass("fade");
            }
        });
    });
</script>

<script src="{{ asset('js/ControlPanel.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    // VERSION 2 of JAVASCRIPT Panel

    $(document).ready(function() {
        ControlPanelSettings.ajaxPageTarget = '<?php echo \Core\Server::URL('www', 'do.php'); ?>';
        ControlPanelSettings.debug = true;
        ControlPanelSettings.controlPanelPageSystem = '<?php echo $aAccountConfig['controlPanelPageSystem']; ?>';

        if(ControlPanelSettings.controlPanelPageSystem === 'href' || ControlPanelSettings.controlPanelPageSystem === 'hash')
        {
            ControlPanel.init('#screen-content', '#screen-loading');
            ControlPanel.startLoading();

            if(location.hash.length == 0)
                location.replace('#/home')

            var sPage = location.hash;
            sPage = sPage.substr(2);
            ControlPanel.changePage(sPage);

            if(ControlPanelSettings.controlPanelPageSystem === 'href')
            {
                $('*[data-toggle="page"]').click(function() {
                    ControlPanel.startLoading();

                    sPage = $(this).attr('href');
                    sPage = sPage.substr(2);
                    ControlPanel.changePage(sPage);
                });
            }
            else if(ControlPanelSettings.controlPanelPageSystem === 'hash')
            {
                if("onhashchange" in window) {
                    ControlPanel.startLoading();

                    sPage = location.hash;
                    sPage = sPage.substr(2);

                    ControlPanel.changePage(sPage);
                }

                function onHashChanged() {
                    ControlPanel.startLoading();

                    sPage = location.hash;
                    sPage = sPage.substr(2);

                    ControlPanel.changePage(sPage);
                }

                window.onhashchange = onHashChanged;
            }
            else if(ControlPanelSettings.controlPanelPageSystem === 'url')
            {
                // the browser will change the page itself
            }
        }
    });
</script>

<script type="text/javascript">
    function changePage(urlPath) {
        var ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (ajax.readyState == 4 && ajax.status == 200) {
                console.log("[Ajax] Page loaded");
                processAjaxData(ajax, urlPath);
            }
        };
        page = "https://account.orbitrondev.org/api/panel_pages?p=" + encodeURI(urlPath);
        console.log("[Ajax] Loading \"" + urlPath + "\" (from: " + page + ")");
        ajax.open("GET", page, true);
        ajax.send();
    }

    function processAjaxData(response, urlPath) {
        document.getElementById("content").innerHTML = response.responseText;
        document.title = response.pageTitle;
        window.history.pushState({
            "html": document.body.innerHTML,
            "pageTitle": document.getElementsByTagName("title")[0].innerHTML
        }, "", urlPath);
    }

    $(document).ready(function () {
        history.pushState({
            "html": document.body.innerHTML,
            "pageTitle": document.getElementsByTagName("title")[0].innerHTML
        }, "", window.location.href);

        window.onpopstate = function (e) {
            console.info("Returned a page");
            //console.log(e.state.html);
            if (typeof e.state !== undefined) {
                //alert(e.state.html)
                document.getElementsByTagName("body")[0].innerHTML = e.state.html;
                document.title = e.state.pageTitle;
            }
        };
    });
</script>#}
</body>
</html>
